<!-- Highlights Wrapper -->
<div class="wrapper wrapper-style3">
    <div class="title">广告</div>
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Highlights -->
                <div id="highlights">
                    <div>
                        <div class="row">
                            <div class="4u">
                                <section class="highlight highlight-one">
                                    <a href="javascript:void(0);" class="image image-full"><img src="/static/testtools/images/pic02.jpg"
                                                                                                  alt=""/></a>
                                    <h3><a href="javascript:void(0);">这是一个广告标题</a></h3>
                                    <p>这是一个广告的介绍</p>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="highlight highlight-two">
                                    <a href="javascript:void(0);" class="image image-full"><img src="/static/testtools/images/QQ.jpg"
                                                                                                  alt=""/></a>
                                    <h3><a href="https://jq.qq.com/?_wv=1027&k=42WzbVK">加入我们</a></h3>
                                    <p>欢迎加入QQ群<a href="https://jq.qq.com/?_wv=1027&k=42WzbVK">459592176</a>，讨论关于python，自动化测试，django等相关问题。</p>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="highlight highlight-three">
                                    <a href="javascript:void(0);" class="image image-full"><img src="/static/testtools/images/pic04.jpg"
                                                                                                  alt=""/></a>
                                    <h3><a href="javascript:void(0);">这是一个广告标题</a></h3>
                                    <p>这是一个广告的介绍</p>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Highlights -->

            </div>
        </div>
    </div>
</div>
<!-- /Highlights Wrapper -->