<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>测试工具</title>
        <script type="text/javascript" src="/static/testtools/js/jquery.js"></script>
        <script type="text/javascript" src="/static/testtools/js/main.js"></script>
        <script type="text/javascript" src="/static/testtools/js/dialog-min.js"></script>
        <script type="text/javascript" src="/static/testtools/js/jquery.format.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/testtools/css/index.css">
        <link rel="stylesheet" type="text/css" href="/static/testtools/css/demo.css">
        <link rel="stylesheet" type="text/css" href="/static/testtools/css/ui-dialog.css">
        <link rel='stylesheet' href='http://fonts.googleapis.com/icon?family=Material+Icons' type='text/css'>
        <link rel="stylesheet" href="/static/testtools/css/sidenav.min.css" type="text/css">
        <script type="text/javascript" src="/static/testtools/js/sidenav.min.js"></script>
        <style type="text/css">
          .toggle {
            display: block;
            height: 72px;
            line-height: 72px;
            text-align: center;
            width: 72px;
          }
          </style>

        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900" rel="stylesheet" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->

        <script type="text/javascript" src="/static/testtools/js/jquery.dropotron.min.js"></script>
        <script type="text/javascript" src="/static/testtools/js/config.js"></script>
        <script type="text/javascript" src="/static/testtools/js/skel.min.js"></script>
        <script type="text/javascript" src="/static/testtools/js/skel-panels.min.js"></script>

        <link rel="stylesheet" href="/static/testtools/css/style.css" />
        <link rel="stylesheet" href="/static/testtools/css/style-desktop.css" />
    </head>

<body>
    {% include 'testtools/header.html' %}

    {% block content %}
        No Content
    {% endblock %}

    {% include 'testtools/footer.html' %}

</body>
</html>
