<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/testtools/css/bootstrap.min.css">
        <link href="/static/testtools/css/index.css" rel="stylesheet"/>
        <link href="/static/testtools/css/importer.css" rel="stylesheet"/>

        <meta charset="utf-8">
        <title>测试工具</title>
        <script type="text/javascript" src="/static/testtools/js/jquery.js"></script>
    </head>

<body>
    {% include 'testtools/header.html' %}

    {% block content %}
        No Content
    {% endblock %}

    {% include 'testtools/footer.html' %}

</body>
</html>
