{% load staticfiles %}
<!-- Footer Wrapper -->
<div id="footer-wrapper" class="wrapper">
    <div class="title">The Rest Of It</div>
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Footer -->
                <div id="footer">
                    <header class="style1">
                        <h2>Ipsum sapien elementum portitor?</h2>
                        <p class="byline">
                            Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.<br/>
                            Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.
                        </p>
                    </header>
                    <hr/>
                    <div>
                        <div class="row">
                            <div class="6u">

                                <!-- Contact Form -->
                                <section class="footer-one">
                                    <form method="post" action="#">
                                        <div>
                                            <div class="row half">
                                                <div class="6u">
                                                    <input type="text" class="text" name="name" id="contact-name"
                                                           placeholder="名字"/>
                                                </div>
                                                <div class="6u">
                                                    <input type="text" class="text" name="name" id="contact-email"
                                                           placeholder="Email"/>
                                                </div>
                                            </div>
                                            <div class="row half">
                                                <div class="12u">
                                                    <textarea name="message" id="contact-message"
                                                              placeholder="请输入留言"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="12u">
                                                    <ul class="actions">
                                                        <li><input type="submit" class="button button-style1"
                                                                   value="发送"/></li>
                                                        <li><input type="reset" class="button button-style2"
                                                                   value="重置"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                                <!-- /Contact Form -->

                            </div>
                            <div class="6u">

                                <!-- Contacts -->
                                <section class="footer-two">
                                    <div class="feature-list feature-list-small">
                                        <div>
                                            <div class="row">
                                                <div class="6u">
                                                    <section>
                                                        <h3 class="fa fa-home">Mailing Address</h3>
                                                        <p>
                                                            浙报传媒集团股份有限公司<br/>
                                                            上海市浦东新区亮景路210号<br/>
                                                            邮编:201203
                                                        </p>
                                                    </section>
                                                </div>
                                                <div class="6u">
                                                    <section>
                                                        <h3 class="fa fa-comment">Social</h3>
                                                        <p>
                                                            <a href="http://weibo.com/u/1674676342?topnav=1&wvr=6&topsug=1&is_all=1">@茶客大人</a><br/>
                                                            <a href="#">微信:ChuckDaren</a><br/>
                                                        </p>
                                                    </section>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="6u">
                                                    <section>
                                                        <h3 class="fa fa-envelope">Email</h3>
                                                        <p>
                                                            <a href="#">gutongjie@600633.cn</a>
                                                        </p>
                                                    </section>
                                                </div>
                                                <div class="6u">
                                                    <section>
                                                        <h3 class="fa fa-phone">Phone</h3>
                                                        <p>
                                                            13818912894
                                                        </p>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- /Contacts -->

                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>
                <!-- /Footer -->

                <!-- Copyright -->
                <div id="copyright">
									<span>
										Design by 模板王 来源:网上搜集</a>.
									</span>
                </div>
                <!-- /Copyright -->

            </div>
        </div>
    </div>
</div>
<!-- /Footer Wrapper -->