<div id="header-wrapper" class="wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Header -->
                <div id="header">

                    <!-- Logo -->
                    <div id="logo">
                        <h1><a href="/testtools/project/list/">总有人要踏出这一步</a></h1>
                        <span class="byline">前路的艰辛坎坷，你准备好了吗？</span>
                    </div>
                    <!-- /Logo -->

                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li class="current_page_item"><a href="/testtools/index">首页</a></li>
                            <li><a href="/testtools/project/list"><span>接口测试</span></a></li>
                            <li><a href="/admin/" target="_blank">后台管理</a></li>
                            <li><a href="/testtools/datadesc/" target="_blank">数据描述</a></li>
                            <li><a href="{% url 'testtools:autodoc' %}" target="_blank">自动生成接口文档</a></li>
                            <li><a href="/blogs/index/1/" target="_blank">经验总结</a></li>
                            <li><a href="#">Q&A</a></li>
                            <li><a href="#">注册</a></li>
                            <li><a href="#">登录</a></li>
                        </ul>
                    </nav>
                    <!-- /Nav -->

                </div>
                <!-- /Header -->

            </div>
        </div>
    </div>
</div>
<!-- /Header Wrapper -->
<!--header end-->
