{% extends 'testtools/base.html' %}
{% load staticfiles %}

{% block content %}

<div class = "mainbody">
    <div class="leftbody">
        <div class="project">
            <div class="list">
                <ul>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ul>
            </div>
        </div>
    </div>
    <div class = "rightbody">
        <div class = "login">
            <button>注册</button>
            <button>登录</button>
        </div>
    </div>
</div>

{% endblock %}