{% extends 'testtools/base.html' %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function () {
        $("#interfacelist li").click(function () {
            var url = $(this).find('a').attr('href');
            $.ajax({
                url: url,
                type: "get",
                dataType: "text",
                success: function(data){
                        $("#responsedata").html(data);
                },
                async: false,
            });
        });
    });
</script>

<div class="mainbody">
<div class="leftbody">
        <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
            <div class="sidenav-brand">项目列表</div>

            <div class="sidenav-header">
                <a href="javascript:void(0)" class="run" id="demoBtn1">新建项目</a>

                <form method = 'post' action="/testtools/project/addproject/">{% csrf_token %}
                    <input id="project_name" type="text" name="project_name" value="{{ projectname }}">
                    <input type="submit" value="保存">
                </form>
            </div>

            {% for project in project_list %}
                <ul class="sidenav-menu">
                    <li>
                        <a onclick="getInterfaceList({{ project.id }})" href="/testtools/index/{{ project.id }}"
                           data-sidenav-dropdown-toggle class="active">
                            <span class="sidenav-link-title">{{ project.project_name }}</span>
          <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
            <i class="material-icons">arrow_drop_down</i>
          </span>
          <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
            <i class="material-icons">arrow_drop_up</i>
          </span>
                        </a>
                        <ul class="sidenav-dropdown{{ project.id }}" data-sidenav-dropdown style="display: none">
                            <li><a href="javascript:;"></a></li>
                        </ul>
                    </li>
                </ul>
            {% endfor %}
        </nav>

        <a href="javascript:;" class="toggle" id="sidenav-toggle">
            <i class="material-icons">menu</i>
        </a>
        <script>$('[data-sidenav]').sidenav();</script>

    </div>
<div class="rightbody">
    <div id="interfacelist">
        接口详情:
        <ul>
            {% for detail in interface_detail %}
            <li id="requestlink ">
                {{ detail.id}}
                {{ detail.interface_sn }}
                {{ detail.interface_name }}
                {{ detail.request_method }}
                <a id="testAjax" href="{{ detail.request_link }}" target="_blank">{{ detail.request_link }}</a>
                {{ detail.interface_desc }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="response">
<textarea id="responsedata" disabled="disabled">
</textarea>
    </div>
    <input style="margin: 20px;color:#2A2B2A" type="button" id="clear" value="清空"/>
    <script type="text/javascript">
        $("#clear").click(function () {
            $("#responsedata").val('');
        })
    </script>
</div>
</div>

{% endblock %}