{% extends 'testtools/base.html' %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function () {
        $("#interfacelist li").click(function () {
            var url = $(this).find('a').attr('href');
            $.ajax({
                url: url,
                type: "get",
                dataType: "text",
                success: function(data){
                        $("#responsedata").html(data);
                },
                async: false,
            });
        });
    });
</script>

<div class="rightbody">
    <div id="interfacelist">
        接口详情:
        <ul>
            {% for detail in interface_detail %}
            <li id="requestlink ">
                {{ detail.id}}
                {{ detail.interface_sn }}
                {{ detail.interface_name }}
                {{ detail.request_method }}
                <a id="testAjax" href="{{ detail.request_link }}" target="_blank">{{ detail.request_link }}</a>
                {{ detail.interface_desc }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="response">
<textarea id="responsedata" disabled="disabled">
</textarea>
    </div>
    <input style="margin: 20px;color:#2A2B2A" type="button" id="clear" value="清空"/>
    <script type="text/javascript">
        $("#clear").click(function () {
            $("#responsedata").val('');
        })
    </script>
</div>
{% endblock %}