{% extends 'testtools/base.html' %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function () {
        $("#interfacelist li").click(function () {
            var url = $(this).find('a').attr('href');
            $.ajax({
                url: url,
                type: "get",
                dataType: "text",
                success: function(data){
                        $("#responsedata").html(data);
                },
                async: true,
            });
        });
    });
</script>

<div class="mainbody">
    <div class="leftbody">
        <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
            <div class="sidenav-brand">项目列表</div>

            <div class="sidenav-header">
                    <a href="javascript:void(0)" class="run" id="demoBtn1">新建项目</a>

                <form method = 'post' action="/testtools/project/addproject/">{% csrf_token %}
                    <input id="project_name" type="text" name="project_name" value="{{ projectname }}">
                    <input type="submit" value="保存">
                </form>
            </div>

            {% for project in project_list %}
                <ul class="sidenav-menu">
                    <li>
                        <a onclick="getInterfaceList({{ project.id }})" href="/testtools/index/{{ project.id }}"
                           data-sidenav-dropdown-toggle class="active">
                            <span class="sidenav-link-title">{{ project.project_name }}</span>
          <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
            <i class="material-icons">arrow_drop_down</i>
          </span>
          <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
            <i class="material-icons">arrow_drop_up</i>
          </span>
                        </a>
                        <ul class="sidenav-dropdown{{ project.id }}" data-sidenav-dropdown style="display: none">
                            <li><a href="javascript:;"></a></li>
                        </ul>
                    </li>
                </ul>
            {% endfor %}
        </nav>

        <a href="javascript:;" class="toggle" id="sidenav-toggle">
           <i class="material-icons">menu测试从这里开始</i>
        </a>
        <script>$('[data-sidenav]').sidenav();</script>

    </div>
    <div class="rightbody">
        <div>
            <p>测试三部曲</p>
            <p>第一步:接口连通性测试</p>
            <p>第二部:数据字段类型测试</p>
            <p>第三步:业务场景测试</p>
        </div>
    </div>
</div>

{% endblock %}