{% extends 'testtools/base.html' %}
{% load staticfiles %}

{% block content %}
    <body class="left-sidebar">

    <!-- Main Wrapper -->
    <div class="wrapper wrapper-style2">
        <div class="title">Left Sidebar</div>
        <div class="container">


            <div class="row">
                <div class="12u">

                    <!-- Main -->
                    <div id="main">
                        <div>
                            <div class="row">
                                <div class="4u">

                                    <!-- Sidebar -->
                                    <div id="sidebar">
                                        <section class="is">
                                            <div class="leftbody">
                                                <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
                                                    <div class="sidenav-brand">项目列表</div>

                                                    <div class="sidenav-header">
                                                        <a href="/admin/testtools/project/" target="_blank" class="run" id="demoBtn1">新建项目</a>

                                                        <form method='post'
                                                              action="/testtools/project/addproject/">{% csrf_token %}
                                                            <input id="project_name" type="text" name="project_name"
                                                                   value="{{ projectname }}">
                                                            <input type="submit" value="保存">
                                                        </form>
                                                    </div>

                                                    {% for project in project_list %}
                                                        <ul class="sidenav-menu">
                                                            <li>
                                                                <a onclick="getScenarioList({{ project.id }})"
                                                                   href="/testtools/index/{{ project.id }}"
                                                                   data-sidenav-dropdown-toggle class="active">
                                                                    <span class="sidenav-link-title">{{ project.project_name }}</span>
                                                                  <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
                                                                    <i class="material-icons">arrow_drop_down</i>
                                                                  </span>
                                                                  <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
                                                                    <i class="material-icons">arrow_drop_up</i>
                                                                  </span>
                                                                </a>
                                                                <ul class="sidenav-dropdown{{ project.id }}"
                                                                    data-sidenav-dropdown style="display: none">
                                                                        <li><a href="/admin/testtools/testscenarios/add/">添加场景</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    {% endfor %}
                                                </nav>

                                                <a href="javascript:;" class="toggle" id="sidenav-toggle">
                                                    <i class="material-icons">menu快捷方式</i>
                                                </a>
                                                <script>$('[data-sidenav]').sidenav();</script>
                                            </div>

<ul>
                                                <li><a href="/testtools/project/list/"
                                                       class="button button-style1">所有项目</a></li><br>
                                                <li><a href="/testtools/scenario/list/" class="button button-style1">所有场景</a>
                                                </li>
                                            </ul>                                        </section>
                                    </div>
                                    <!-- /Sidebar -->

                                </div>
                                <div class="8u skel-cell-important">

                                    <!-- Content -->
                                    <ul>
                                        <li>
                                            接口列表<a style="float: right" href="/admin/testtools/interface/add/" target="_blank">添加</a>
                                        </li>
                                    </ul>

                                    <div class="table-list">
                                    <table class="bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>接口名称</th>
                                            <th>请求方式</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        {% for interface in interface_list %}
                                        <tr>
                                            <td>{{ interface.interface_sn }}</td>
                                            <td>{{ interface.interface_name  }}</td>
                                            <td>{{ interface.request_method }}</td>

                                            <td>
                                                <a href="/admin/testtools/interface/{{ interface.id }}/change/" target="_blank">编辑</a></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    </div>
                                    <!-- /Content -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Main -->

                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->


{% endblock %}