{% extends 'testtools/base.html' %}
{% load staticfiles %}
{% block content %}


    <script type="text/javascript">
        $(function () {
            $("li").click(function () {
                var url = $(this).find('a').attr('href');
                $.ajax({
                    url: url,
                    type: "get",
                    dataType: "text",
                    success: textSucceed,
                    error: Error,
                    async: true
                });
            });
        });
        //成功
        function textSucceed(result) {
            $("#responsedata").val(result);
        }
        //错误函数
        function Error() {
            alert("Error!!!");
        }
    </script>

<div id = "leftside">

    {% for intf in category_list %}
                <p>{{ intf.category_id }} 和 {{ intf.category_name }}</p>
                <a href="/testtools/{{ intf.category_id }}/">{{ intf.category_name }}</a>
    {% endfor %}

</div>

<div id = "rightside">
    <div id="interfacelist">
        接口列表:
        <ul>
            {% for intf in single_interface_list %}
            <li>
                {{ intf.interface_sn }}
                {{ intf.interface_name }}
                {{ intf.request_method }}
                <a id="testAjax" href="{{ intf.request_link }}" target="_blank">{{ intf.request_link }}</a>
                {{ intf.interface_desc }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="response">
<textarea id="responsedata" disabled="disabled">
</textarea>
    </div>

    {#清空textarea内容#}
    <input type="button" id="clear" value="清空"/>
    <script type="text/javascript">
        $("#clear").click(function () {
            $("#responsedata").val('');
        })
    </script>
</div>
{% endblock %}
