{% extends 'testtools/base.html' %}
{% load staticfiles %}

{% block content %}
    <body class="left-sidebar">

    <!-- Main Wrapper -->
    <div class="wrapper wrapper-style2">
        <div class="title">Left Sidebar</div>
        <div class="container">


            <div class="row">
                <div class="12u">

                    <!-- Main -->
                    <div id="main">
                        <div>
                            <div class="row">
                                <div class="4u">

                                    <!-- Sidebar -->
                                    <div id="sidebar">
                                        <section class="is">
                                            <div class="leftbody">
                                                <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
                                                    <div class="sidenav-brand">项目列表</div>

                                                    <div class="sidenav-header">
                                                        <a href="/admin/testtools/project/add/" target="_blank" class="run" id="demoBtn1">新建项目</a>

                                                        <form method='post'
                                                              action="/testtools/project/addproject/">{% csrf_token %}
                                                            <input id="project_name" type="text" name="project_name"
                                                                   value="{{ projectname }}">
                                                            <input type="submit" value="保存">
                                                        </form>
                                                    </div>

                                                    {% for project in project_list %}
                                                        <ul class="sidenav-menu">
                                                            <li>
                                                                <a onclick="getScenarioList({{ project.id }})"
                                                                   href="/testtools/index/{{ project.id }}"
                                                                   data-sidenav-dropdown-toggle class="active">
                                                                    <span class="sidenav-link-title">{{ project.project_name }}</span>
                                                                  <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
                                                                    <i class="material-icons">arrow_drop_down</i>
                                                                  </span>
                                                                  <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
                                                                    <i class="material-icons">arrow_drop_up</i>
                                                                  </span>
                                                                </a>
                                                                <ul class="sidenav-dropdown{{ project.id }}"
                                                                    data-sidenav-dropdown style="display: none">
                                                                        <li><a href="/admin/testtools/testscenarios/add/">添加场景</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    {% endfor %}
                                                </nav>

                                                <a href="javascript:;" class="toggle" id="sidenav-toggle">
                                                    <i class="material-icons">menu快捷方式</i>
                                                </a>
                                                <script>$('[data-sidenav]').sidenav();</script>
                                            </div>
                                            <ul>
                                                <li><a href="/testtools/project/list/" class="button button-style1">所有项目</a></li><br>
                                                <li><a href="/testtools/scenario/list/" class="button button-style1">所有场景</a></li><br>
                                            </ul>
                                        </section>
                                    </div>
                                    <!-- /Sidebar -->

                                </div>
                                <div class="8u skel-cell-important">

                                    <!-- Content -->
                                    <ul>
                                        <li>
                                        {{ project_name }}>>场景列表<a  style="float: right" href="/admin/testtools/project/{{ project_id  }}/change/" target="_blank">添加</a>
                                    </li>
                                    </ul>
                                    <div class="table-list">
                                    <table class="bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>场景名称</th>
                                            <th>测试类型</th>
                                            <th>运行</th>
                                            <th>状态</th>
                                            <th>报告</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        {% for scenario in scenario_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ scenario.test_scenario_name  }}</td>
                                            <td>
                                                {% if scenario.test_scenario_type == 1 %}
                                                    接口状态测试
                                                {% elif scenario.test_scenario_type == 2 %}
                                                    接口数据类型测试
                                                {% elif scenario.test_scenario_type == 3 %}
                                                    接口上下文测试
                                                {% else %}
                                                    未知错误
                                                {% endif%}
                                            </td>
                                            <td>
                                                <a onclick="runTestScenario({{ scenario.id }},{{ forloop.counter }})" href="javascript:void(0);">运行</a>
                                                <a onclick="resetTestScenario({{ scenario.id }},{{ forloop.counter }})" href="javascript:void(0);">重置</a>
                                            </td>
                                            <td>
                                                {% if scenario.state == 0 %}
                                                    未测试
                                                {% elif scenario.state == 1 %}
                                                    测试中
                                                {% elif scenario.state == 2 %}
                                                    成功
                                                {% elif scenario.state == 3 %}
                                                    失败
                                                {% else %}
                                                    未知状态
                                                {% endif%}
                                                </td>
                                            <td>查看/下载</td>
                                            <td>
                                                <a href="/admin/testtools/testscenarios/{{ scenario.id }}/change/" target="_blank">编辑</a></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    </div>
                                    <!-- /Content -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Main -->

                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->


{% endblock %}