{% extends 'testtools/base.html' %}
{% load staticfiles %}

{% block content %}
    <body class="left-sidebar">

    <!-- Main Wrapper -->
    <div class="wrapper wrapper-style2">
        <div class="title">Left Sidebar</div>
        <div class="container">


            <div class="row">
                <div class="12u">

                    <!-- Main -->
                    <div id="main">
                        <div>
                            <div class="row">
                                <div class="4u">

                                    <!-- Sidebar -->
                                    <div id="sidebar">
                                        <section class="is">
                                            <div class="leftbody">
                                                <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
                                                    <div class="sidenav-brand">项目列表</div>

                                                    <div class="sidenav-header">
                                                        <a href="/admin/testtools/project/add/" target="_blank" class="run" id="demoBtn1">新建项目</a>

                                                        <form method='post'
                                                              action="/testtools/project/addproject/">{% csrf_token %}
                                                            <input id="project_name" type="text" name="project_name"
                                                                   value="{{ projectname }}">
                                                            <input type="submit" value="保存">
                                                        </form>
                                                    </div>

                                                    {% for project in project_list %}
                                                        <ul class="sidenav-menu">
                                                            <li>
                                                                <a onclick="getScenarioList({{ project.id }})"
                                                                   href="/testtools/index/{{ project.id }}"
                                                                   data-sidenav-dropdown-toggle class="active">
                                                                    <span class="sidenav-link-title">{{ project.project_name }}</span>
                                                                  <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
                                                                    <i class="material-icons">arrow_drop_down</i>
                                                                  </span>
                                                                  <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
                                                                    <i class="material-icons">arrow_drop_up</i>
                                                                  </span>
                                                                </a>
                                                                <ul class="sidenav-dropdown{{ project.id }}"
                                                                    data-sidenav-dropdown style="display: none">
                                                                        <li><a href="/admin/testtools/testscenarios/add/">添加场景</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    {% endfor %}
                                                </nav>

                                                <a href="javascript:;" class="toggle" id="sidenav-toggle">
                                                    <i class="material-icons">menu快捷方式</i>
                                                </a>
                                                <script>$('[data-sidenav]').sidenav();</script>
                                            </div>

<ul>
                                                <li><a href="/testtools/project/list/"
                                                       class="button button-style1">所有项目</a></li><br>
                                                <li><a href="/testtools/scenario/list/" class="button button-style1">所有场景</a>
                                                </li>
                                            </ul>                                        </section>
                                    </div>
                                    <!-- /Sidebar -->

                                </div>
                                <div class="8u skel-cell-important">

                                    <!-- Content -->
                                    <ul>
                                    <li>场景列表 <a style="float: right" href="/admin/testtools/testscenarios/add/" target="_blank">添加</a>
                                    </li>
                                </ul>
                                    <div class="table-list">
                                    <table class="bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>所属项目</th>
                                            <th>场景名称</th>
                                            <th>测试类型</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        {% for scenario in scenario_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ scenario.project.project_name }}</td>
                                            <td>{{ scenario.test_scenario_name  }}</td>
                                            <td>{% if scenario.test_scenario_type == 1 %}
                                                    接口状态测试
                                                {% elif scenario.test_scenario_type == 2%}
                                                    接口数据类型测试
                                                {% else %}
                                                    接口上下文测试
                                                {% endif%}</td>
                                            <td>
                                                <a href="/admin/testtools/testscenarios/{{ scenario.id }}/change/" target="_blank">编辑</a></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    </div>
                                    <!-- /Content -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Main -->

                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->

    <!-- Highlights Wrapper -->
    <div class="wrapper wrapper-style3">
        <div class="title">The Endorsements</div>
        <div class="container">
            <div class="row">
                <div class="12u">

                    <!-- Highlights -->
                    <div id="highlights">
                        <div>
                            <div class="row">
                                <div class="4u">
                                    <section class="highlight highlight-one">
                                        <a href="http://fav.me/d59i3b3" class="image image-full"><img
                                                src="/static/testtools/images/pic02.jpg" alt=""/></a>
                                        <h3><a href="">Aliquam diam consequat</a></h3>
                                        <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet
                                            sit amet vulputate mattis amet laoreet lorem.</p>
                                        <ul class="actions">
                                            <li><a href="#" class="button button-style1">Learn More</a></li>
                                        </ul>
                                    </section>
                                </div>
                                <div class="4u">
                                    <section class="highlight highlight-two">
                                        <a href="http://fav.me/d4tqyby" class="image image-full"><img
                                                src="/static/testtools/images/pic03.jpg" alt=""/></a>
                                        <h3><a href="#">Nisl adipiscing sed lorem</a></h3>
                                        <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet
                                            sit amet vulputate mattis amet laoreet lorem.</p>
                                        <ul class="actions">
                                            <li><a href="#" class="button button-style1">Learn More</a></li>
                                        </ul>
                                    </section>
                                </div>
                                <div class="4u">
                                    <section class="highlight highlight-three">
                                        <a href="http://fav.me/d5w2dot" class="image image-full"><img
                                                src="/static/testtools/images/pic04.jpg" alt=""/></a>
                                        <h3><a href="#">Mattis tempus lorem</a></h3>
                                        <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet
                                            sit amet vulputate mattis amet laoreet lorem.</p>
                                        <ul class="actions">
                                            <li><a href="#" class="button button-style1">Learn More</a></li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Highlights -->

                </div>
            </div>
        </div>
    </div>
    <!-- /Highlights Wrapper -->

{% endblock %}