{% load staticfiles%}


<header>
  <nav id="nav">
    <ul>
      <li><a style="font-size:16px;"   href="/blog" >网站首页</a></li>
      <li><a  style="font-size:16px;"  href="/newstalk/" target="_blank" title="碎言碎语">博客</a></li>
      <li><a  style="font-size:16px;" href="/jstt/" target="_blank" title="技术探讨">技术探讨</a></li>
      <li><a  style="font-size:16px;"  href="/newstalk/" target="_blank" title="碎言碎语">碎言碎语</a></li>
      <li><a  style="font-size:16px;"  href="/book/" target="_blank" title="图书推荐">图书推荐</a></li>
      <li><a  style="font-size:16px;"  href="/news/s/" target="_blank" title="慢生活">慢生活</a></li>
    </ul>
    <script src="/static/polls/js/silder.js"></script><!--获取当前页导航 高亮显示标题-->
  </nav>
</header>
