{% extends 'blogs/base.html' %}
{% load staticfiles %}
{% block content %}
<link href="{% static 'blogs/css/view.css' %}" rel="stylesheet"/>
<link href="{% static 'blogs/css/lrtk.css' %}" rel="stylesheet"/>
<!--header end-->
<div id="mainbody" style="background-color: #333333">
  <div class="blogs">
    <div class="newlist">
  <h2>您当前的位置：<a href="/blogs/index/">首页</a>&nbsp;>&nbsp;新增文章</h2>

<ul>
<form method="get" action="/blogs/sub_article">
    {% csrf_token %}
    <div>
        <lable>文章标题：</lable><input name="article_title" type="text" style="height: 20px;width: 500px;" placeholder="请输入文章标题"><br>
        <lable>文章类型：</lable><select name="article_type" style="height: 20px; width: 120px;">
            <option selected="selected">请选择文章类型</option>
            <option value="1">心路历程</option>
            <option value="2">经典名言</option>
            <option value="3">model</option>
            <option value="4">mysql</option>
            <option value="5">view</option>
            <option value="6">urls</option>
            <option value="7">settings</option>
            <option value="8">django-js</option>
            <option value="9">django-ajax</option>
        </select>
    </div>
    <lable>文章内容：</lable>
    <textarea name="article_editor" rows="55" style="width: 630px;"></textarea>
    <input type="submit" value="提交" style="margin-left: 300px;width: 60px;height: 20px;">
</form>
</ul>

<div class="page">
    <a title="Total record"><b>38</b></a>
    <b>1</b><a href="/jstt/index_2.html">2</a>
    <a href="/jstt/index_2.html">></a>
    <a href="/jstt/index_2.html">>></a></div>
</div>

    <!--bloglist end-->
  </div>
  <!--blogs end-->
</div>
<!--mainbody end-->
{% endblock content %}