<header>
  <nav id="header-nav">
    <ul>
      <li><a href="/testtools/index">首页</a></li>
      <li><a href="/testtools/project/list">接口测试</a></li>
      <li><a href="/admin/" target="_blank">后台管理</a></li>
      <li><a href="/testtools/datadesc/" target="_blank">数据描述</a></li>
      <li><a href=" {% url 'testtools:autodoc' %}" target="_blank">自动生成接口文档</a></li>
      <li><a href="/blogs/index/1/">经验总结</a></li>
      <li><a href="#">Q&A</a></li>
      <li><a href="#">注册</a></li>
      <li><a href="#">登录</a></li>
    </ul>


  </nav>
</header>
<!--header end-->
